.new {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 3rem;
    padding-bottom: 3rem;
}

.heading {
    display: flex;
    gap: 15px;
    align-items: center;
}

.line1 {
    width: 10rem;
    height: 3px;
    background-color: var(--secondary-color);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.line2 {
    width: 10rem;
    height: 3px;
    background-color: var(--secondary-color);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.new-item {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    align-items: center;
    row-gap: 2rem;
}